<!DOCTYPE html>
<html lang="en">

<app-head></app-head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/logout">URJC Bank</a></h1>
        <!--<a href="index.html" class="logo"><img src="/URJC_Bank/public/assets/img/URJC_bank.png" alt="" class="img-fluid"></a> -->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="new/profile">Home</a></li>
                <li><a class="nav-link scrollto" href="new/profile">Make a transfer</a></li>
                <li><a class="nav-link scrollto" href="new/profile">Calculate loan</a></li>
                <li><a class="nav-link scrollto" (click)="logout()">Log Out</a></li>
            </ul>
        </nav>
    </div>
</header>
  <div class="app">
    <div class="body">
      <div class="wrapper">
        <div class="app-body-main-content">
          <section class="service-section">
            <div class="tiles">
              <article class="tile">
                <div class="tile-header">
                <h3 class="image-container">
                  <img id="client_pic" src="" class="img-fluid half-size" alt="" style="height: 50%;">
                  <span id="client_iban">{{client_iban}}</span>
                  <span>Bienvenido, {{client_name}}</span>
                  <span>Tu balance actual es de {{client_balance}} €</span>
                </h3>
              </div>
            </article>
          </div>
        </section>
        <div class="wrapper">
          <section class="transfer-section">
            <div class="transfer-section-header">
              <h2>Latest transfers</h2>
            </div>
            <div class="transfers">
              <div *ngFor="let transfer of transfers" class="transfer">
                <dl class="transfer-details">
                  <div class="min">
                    <dt>Sender</dt>
                    <dd>{{ transfer.senderIBAN }}</dd>
                  </div>
                  <div class="min">
                    <dt>Receiver</dt>
                    <dd>{{ transfer.receiverIBAN }}</dd>
                  </div>
                  <div class="max">
                    <dt>Date payment</dt>
                    <dd>{{ transfer.date }}</dd>
                  </div>
                  <div class="min">
                    <dt>T Type</dt>
                    <dd>{{ transfer.transferType }}</dd>
                  </div>
                  <div class="transfer-number">{{ transfer.amount }}€</div>
                </dl>
              </div>
            </div>
            <button id="profile_button" (click)="onLoadMoreClick()">Load more</button>
          </section>
        </div>
      </div>
    </div>
    </div>
  </div>
  <app-short-footer></app-short-footer>
  <script src="https://unpkg.com/phosphor-icons"></script>

  <!-- Vendor JS Files -->
  <script src="../../assets/vendor/aos/aos.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../../assets/vendor/php-email-form/validate.js"></script>
  <script src="../..assets/js/profile_ajax.js"></script>
  <script src="../..assets/js/profile_pic_loader.js"></script>
</body>


</html>
