<!DOCTYPE html>
<html lang="en">

<app-head></app-head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a (click)="logout()">URJC Bank</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/profile">Home</a></li>
                <li><a class="nav-link scrollto" href="/transfer">Make a transfer</a></li>
                <li><a class="nav-link scrollto active" href="/loan_request">Calculate loan</a></li>
                <li><a class="nav-link scrollto " (click)="logout()">Log Out</a></li>
            </ul>
        </nav>
    </div>
</header>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="redirect:/loan_request">Loans</a></li>
                <li>Calculate a loan</li>
            </ol>
            <h2>Calculate a loan</h2>
        </div>
    </section> <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="card mb-4">
              <div class="card-header bg-danger" style="color: white;">
                <i class="fas fa-chart-area me-1"></i>
                Loan for {{ loan.reason }} - Amount {{ loan.amount }} € - Interest {{ loan.interest_rate }}%
              </div>
              <div class="card-body"><canvas id="myChart" width="100%" height="30"></canvas></div>
            </div>
            <div id="table-container">
              <table class="table">
                <thead>
                  <tr>
                    <th>Period</th>
                    <th>Principal</th>
                    <th>Interest</th>
                    <th>Total Payment</th>
                    <th>Remaining Amount</th>
                  </tr>
                </thead>
                <tbody id="loan-table-body">
                  <tr *ngFor="let payment of displayedPayments">
                    <td>{{ payment.period }}</td>
                    <td>{{ payment.principal.toFixed(2) }}</td>
                    <td>{{ payment.interest.toFixed(2) }}</td>
                    <td>{{ (payment.principal + payment.interest).toFixed(2) }}</td>
                    <td>{{ payment.remainingAmount.toFixed(2) }}</td>
                  </tr>
                </tbody>
              </table>
              <button (click)="onLoadMoreClick()">Load more</button>
            </div>
          </div>
    </section>
</main> <!-- End #main -->

<!-- ======= Footer ======= -->
<app-short-footer></app-short-footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="public/assets/vendor/aos/aos.js"></script>
<script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="public/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="public/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="public/js/main.js"></script>
<!-- Chart JS File -->
<script src="https://cdn.jsdelivr.net/npm/chart.js" crossorigin="anonymous"></script>
<script src="../../../assets/js/loan.js"></script>

</body>

</html>
