
<app-head></app-head>
<style>
    body {
        background-image: url('../assets/img/river-8540767_1920.jpg');
        background-size: cover;
        background-position: center;
    }
</style>

<body>
<app-header></app-header>
<main id="main">
    <section class="inner-page">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header bg-danger"><h3 class="text-center font-weight-light my-4" style="color: white;">Create Account</h3></div>
                        <div class="card-body">
                            <form method='post' action='/create_account'>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputUser" name="inputUser" type="text" placeholder="" />
                                    <label for="inputUser">User</label>
                                    <pre>NIF, NIE, Passport or Anonymous card</pre>
                                </div>

                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputName" name="firstName" type="text" placeholder="" />
                                    <label for="inputName">First name</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputLastName" name="lastName" type="text" placeholder="" />
                                    <label for="inputLastName">Last name</label>
                                </div>


                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputPassword" name="inputPassword" type="password" placeholder="Password" />
                                    <label for="inputPassword">Password</label>
                                </div>

                                <div class="form-floating mb-3">
                                    <input class="form-control" id="inputConfirmPassword" type="password" name="confirmPassword" placeholder="Password" />
                                    <label for="inputConfirmPassword">Confirm Password</label>
                                </div>
                                <!--
                                <div class="form-check mb-3">
                                    <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                    <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                </div>
                                -->
                                <div class="d-flex flex-column align-items-center justify-content-between mt-4 mb-0">
                                    <input class="btn btn-danger" type="submit" value="Register"/>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <div class="small"><a href="/login">Already have an account? Sign in!</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
<br><br>

<app-short-footer></app-short-footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!--<div id="preloader"></div>-->

<!-- Vendor JS Files -->
<script src="public/assets/vendor/aos/aos.js"></script>
<script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="public/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="public/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="public/js/main.js"></script>
</body>
