<!DOCTYPE html>
<html lang="en">

<app-head></app-head>
<app-header-admin></app-header-admin>

<body>

    <main id="main" class="welcome-screen">
        <section class="inner-page">
            <div class="container">
                <div class="welcome-message">
                    <h2>Welcome to URJC Bank</h2>
                    <p>Take care of the administration from here</p>
                </div>
            </div>
        </section>
    </main>

    <app-short-footer></app-short-footer>

    <script src="https://unpkg.com/phosphor-icons"></script>
    <!-- Vendor JS Files -->
    <script src="public/assets/vendor/aos/aos.js"></script>
    <script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="public/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="public/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="public/assets/vendor/php-email-form/validate.js"></script>
    <script src="public/js/account.js"></script>
</body>

</html>
