<!DOCTYPE html>
<html lang="en">
    
{{>../static/head}}

<body class="sb-nav-fixed">

<!-- ======= Header ======= -->
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/logout">URJC Bank</a></h1>
        <!--<a href="index.html" class="logo"><img src="/URJC_Bank/public/assets/img/URJC_bank.png" alt="" class="img-fluid"></a> -->
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/profile">Home</a></li>
                <li><a class="nav-link scrollto" href="/transfers_manager">Transfers</a></li>
                <li><a class="nav-link scrollto active" href="/charges">Charges</a></li>
                <li><a class="nav-link scrollto " href="/logout">Log Out</a></li>
            </ul>
        </nav>
    </div>
</header>

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Tabla de Cargos
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Charge</th>
                                <th>NIE</th>
                                <th>Age</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Charge</th>
                                <th>NIE</th>
                                <th>Age</th>
                                <th>Date</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr>
                                <td>Juan Pérez</td>
                                <td>...</td>
                                <td>12345678A</td>
                                <td>51</td>
                                <td>2009/02/27</td>
                            </tr>
                            <tr>
                                <td>Jose López</td>
                                <td>...</td>
                                <td>87654321B</td>
                                <td>36</td>
                                <td>2013/12/09</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        {{>../static/short_footer}}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="public/assets/vendor/aos/aos.js"></script>
<script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="public/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="public/assets/vendor/php-email-form/validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="assets/demo/chart-area-demo.js"></script>
<script src="assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>

<!-- Template Main JS File -->
<script src="public/js/main.js"></script>
</body>
</html>
