<!DOCTYPE html>
<html lang="en">

{{>../static/head}}

<body>

{{>../static/header_error}}
<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="col-lg-14">
                    <div class="text-center mt-4">
                        <h1 class="display-1">404</h1>
                        <p class="lead">Not Found</p>
                        <p>Access to this resource is not found</p>
                        <a href="/logout">
                            <i class="fas fa-arrow-left me-1"></i>
                            Return to Dashboard
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    {{>../static/short_footer}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
