<!DOCTYPE html>
<html lang="en">

{{>../static/head}}

<body>

{{>../static/top_bar}}

{{>../static/header}}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <div class="col-6"><img src="public/assets/img/URJC_bank.png" alt="" class="img-fluid"></div>
      <!--<h1>URJC BANK</h1>-->
      <h2>Smart finantial solutions for students and teachers</h2>
      <a href="login" class="btn-get-started scrollto">Access my account</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="public/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Our motivation</h3>
            <p class="fst-italic">
              Dear friends and future customers, <br> <br> At URJC Bank, our story is born out of a burning desire to create something truly exceptional: a banking experience that is not only safe and secure, but also warm and welcoming. We are students concerned with offering alternatives that reinforce the good and responsible management of our own capital. We are committed to going beyond the traditional expectations of a bank, and to building strong and lasting relationships with each of our clients.
              <br> <br> Our team is united by a common vision:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>A strong commitment to ensuring security and reliability in the banking world.</li>
              <li><i class="bi bi-check-circle"></i>Ensuring that banking experiences are as easy and pleasant as possible.</li>
              <li><i class="bi bi-check-circle"></i>Committed to the constant maintenance of our bank account and to the continuous improvement of our services.</li>
            </ul>
            <p class="fst-italic">
              At URJC Bank, we don't just offer financial products; we offer a promise. A promise of security, reliability, ease of use and a dedicated approach to ongoing maintenance. We are here to be with you every step of the way, and we look forward to being your trusted bank for many years to come.
<br>
Join us on this exciting adventure and discover what URJC Bank can do for you. We look forward to meeting you and helping you achieve your financial goals.
<br><br>
With love,
<br>
The URJC Bank Team
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Security and confidence</h4>
              <p>We use the latest security technologies and practices to protect your data and ensure secure transactions at all times.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Ease of use</h4>
              <p>Our platform is designed with an intuitive and user-friendly interface, allowing you to access your accounts and perform transactions with just a few clicks.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4>Outstanding customer service</h4>
              <p>Our team of experts is available to answer your questions, solve your problems and give you the support you need, always with a smile.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="public/assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="public/assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="public/assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="public/assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="public/assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="public/assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>URJC SMART ACCOUNT</span>
          <h2>URJC SMART ACCOUNT</h2>
          <p>Welcome to the future of finance with our URJC Smart Account! It's not just a bank account; it's your passport to a world of limitless possibilities. <br> With innovative features and an unwavering commitment to your financial success, our account is the vehicle that will take you to your biggest dreams. Feel the excitement of a bright financial future and join us on this journey to greatness. Your ambition deserves the best bank account, and that's exactly what we offer - discover now the features that make it so special!</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-wallet2"></i></div>
              <h4><a href="">Send and receive money</a></h4>
              <p>Need to pay a friend back in advance, split the lunch or contribute to a birthday gift? No problem! With our money transfer feature, you can do it quickly and hassle-free.
                <br>
                Receiving money is just as easy - simply share your account information with friends, family or customers, and receive payments securely and hassle-free!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-person-circle"></i></i></div>
              <h4><a href="">Profile customization</a></h4>
              <p>From changing your profile picture to selecting a color theme that suits your taste, our customization tool allows you to create an online space that is completely your own. Do you like elegant simplicity or do you prefer something more vibrant and colorful? You decide!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-cash-coin"></i></div>
              <h4><a href="">Apply for loans</a></h4>
              <p>Reach your financial goals faster with our "Loan Request" feature! With just a few clicks on your mobile device, you can access a variety of loan options designed to meet your specific needs.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-clipboard2-data"></i></div>
              <h4><a href="">Account analytics</a></h4>
              <p>With interactive graphs and informative charts, our analysis tool gives you a bird's eye view of your income, expenses and trends over time. Want to know how much you spend on groceries each month? Or how much you've saved in the last six months? Our analysis feature tells you everything clearly and accurately!</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-bell"></i></div>
              <h4><a href="">Notification system</a></h4>
              <p>Receive instant alerts about transactions, account balances and important activities directly to your mobile device or via email. Customize your notification preferences to fit your lifestyle and financial priorities, making sure you never miss anything important.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-graph-up-arrow"></i></div>
              <h4><a href="">Smart expense filtering</a></h4>
              <p>You can set custom rules and criteria to organize your spending into relevant categories, allowing you to automate the process and save time in managing your finances. Want to receive alerts when you spend more than usual in a specific category? Our intelligent filtering system lets you do just that!</p>
            </div>
          </div>
          <div class="section-title">
            <p><i class="bi bi-exclamation-circle"></i> URJC Bank is a member of the Spanish Deposit Guarantee Fund for Credit Institutions. The maximum amount guaranteed is 100.000€ for the total amount of deposits constituted in URJC Bank per person.</p>  
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Now it's your turn!</h3>
          <p>What are you waiting for to create a URJC Smart Account with us?</p>
          <a class="cta-btn" href="/register">I choose to be Smart!</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Our bank in statistics</span>
          <h2>Our bank in statistics</h2>
          <p>Discover our bank's performance in real time with our constantly updated statistics. Get instant information about our assets, clients served and more, all in one place.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-client">Client</li>
              <li data-filter=".filter-finantial">Finantial</li>
              <li data-filter=".filter-business">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

          <div class="col-lg-4 col-md-6 portfolio-item filter-business">
            <a href="/chart">
              <img src="public/assets/img/portfolio/download.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Average interest rate on loans</h4>
                <p>Last update: 1/Feb/2024</p>
                <a href="public/assets/img/portfolio/download.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Chart"><i class="bi bi-zoom-in"></i></a>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-finantial">
            <a href="/chart">
              <img src="../assets/img/portfolio/download.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Deposits collected</h4>
                <p>Last update: 1/Feb/2024</p>
                <a href="../assets/img/portfolio/download.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Chart"><i class="bi bi-zoom-in"></i></a>
              </div>
            </a>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-client">
            <a href="/chart">
              <img src="../assets/img/portfolio/download.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Number of clients</h4>
                <p>Last update: 1/Feb/2024</p>
                <a href="../assets/img/portfolio/download.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Chart"><i class="bi bi-zoom-in"></i></a>
              </div>
            </a>
          </div>
          

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <span>Careers</span>
          <h2>Careers</h2>
          <p>From roles in personal banking to positions in financial technology and risk management, we offer a wide range of opportunities for talented professionals who are passionate about the financial sector. With a collaborative work environment and a focus on professional development, we provide you with the support and tools you need to achieve your career goals.</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Client Experience Specialist</h3>
              <ul>
                <li style="color: #cc1616;"> <h5>Duties</h5></li>
                <p>Designing and optimizing user interface, resolving customer issues and implementing strategies to improve customer satisfaction.</p>
                <li style="color: #cc1616;"> <h5>Requirements</h5></li>
                <p>Experience in customer service, communication skills, knowledge of user experience design (UX), ability to work in a team.</p>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Apply now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Cyber Security Analyst</h3>
              <ul>
                <li style="color: #cc1616;"> <h5>Duties</h5></li>
                <p>Monitoring for cyber threats, implementing security measures and responding to security incidents.</p>
                <li style="color: #cc1616;"> <h5>Requirements</h5></li>
                <p>Information security experience, knowledge of computer systems and networks, ability to analyze and respond to cyber threats, cyber security certifications are a plus.</p>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Apply now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
            <div class="box">
              <h3>Mobile Application Developer</h3>
              <ul>
                <li style="color: #cc1616;"> <h5>Duties</h5></li>
                <p>Responsible for developing and maintaining mobile applications for the bank's clients, ensuring a smooth and secure user experience.</p>
                <li style="color: #cc1616;"> <h5>Requirements</h5></li>
                <p>Experience in mobile application development, knowledge of programming languages such as Swift, Java, ability to work in an agile and collaborative environment.</p>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Apply now</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title">
          <span>Team</span>
          <h2>Team</h2>
          <p>Meet our team of passionate and experienced leaders</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../assets/img/team/Jose-Velez-13.png" alt="">
              <h4>Master José Vélez</h4>
              <span>Dream Chief Officer</span>
              <p>

              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../assets/img/team/team-2.jpg" alt="">
              <h4>Cristian Andrei Vlad</h4>
              <span>Chief Executive Officer</span>
              <p>

              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../assets/img/team/team-3.jpg" alt="">
              <h4>David Cereceda Catalán</h4>
              <span>CTO</span>
              <p>

              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../assets/img/team/team-3.jpg" alt="">
              <h4>Julio del Junco Prieto</h4>
              <span>CTO</span>
              <p>

              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../assets/img/team/team-3.jpg" alt="">
              <h4>Sergio Lopez Cuesta</h4>
              <span>CTO</span>
              <p>

              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in">
            <div class="member">
              <img src="../assets/img/team/team-3.jpg" alt="">
              <h4>David Paúl Limaylla Ticlavilca</h4>
              <span>CTO</span>
              <p>

              </p>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <span>Contact</span>
          <h2>Contact</h2>
          <p>Feel free to contact us</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>S/N Av. del Alcalde de Móstoles, Móstoles, Madrid 28933</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>contact@urjc_bank.com
                </p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+34 931 45 67 89</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up">
          <div>
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d478.46162101034156!2d-3.8769085309274725!3d40.3345146773825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDDCsDIwJzA0LjAiTiAzwrA1MiczNy43Ilc!5e0!3m2!1ses!2ses!4v1707414443886!5m2!1ses!2ses" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
{{>../static/footer}}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="public/assets/vendor/aos/aos.js"></script>
  <script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="public/js/main.js"></script>

</body>

</html>
