<!DOCTYPE html>
<html lang="en">

{{>../static/head}}

<style>
  body {
      background-image: url('public/assets/img/river-8540767_1920.jpg'); 
      background-size: cover; 
      background-position: center; 
  }
</style>

<body>

<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="index.html">URJC Bank</a></h1>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="/#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="/#about">Who we are</a></li>
                <li><a class="nav-link scrollto" href="/#services">URJC Smart Account</a></li>
                <li class="dropdown"><a href="/#portfolio"><span>Our bank in statistics</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/chart">Average interest rate on loans</a></li>
                        <li><a href="/chart">Deposits collected</a></li>
                        <li><a href="/chart">Number of clients</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/#pricing">Careers</a></li>
                <li><a class="nav-link scrollto" href="/#team">Team</a></li>
                <li ><a class="nav-link active" href="login"><span>Log In</span></a></li>
                <li><a class="nav-link scrollto" href="/#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->



  <main id="main">
    <section class="inner-page">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header bg-danger"><h3 class="text-center font-weight-light my-4" style="color: white;">Access</h3></div>
                  <div class="card-body">
                      <form method='post' action='/login'>
                          <div class="form-floating mb-3">
                              <input class="form-control" name="username" id="inputUser" type="text" placeholder="User" />
                              <label for="inputUser">User</label>
                              <p><pre>NIF, NIE, Passport or Anonymous card</pre></p>
                          </div>
                          <div class="form-floating mb-3">
                              <input class="form-control" name="password" id="inputPassword" type="password" placeholder="Password" />
                              <label for="inputPassword">Password</label>
                          </div>
                          <div class="d-flex flex-column align-items-center justify-content-between mt-4 mb-0">
                              <input class="btn btn-danger" type="submit" value="Log In"/>
                              <hr>
                              <a class="small" href="/password">Forgot Password?</a>
                          </div>
                      </form>
                  </div>
                    <div class="card-footer text-center py-3">
                        <div class="small"><a href="/register">Need an account? Sign up!</a></div>
                    </div>
              </div>
          </div>
      </div>
      </div>
    </section>
  </main><!-- End #main -->
<br><br>

{{>../static/short_footer}}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="public/assets/vendor/aos/aos.js"></script>
  <script src="public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="public/js/main.js"></script>

</body>

</html>
