<!DOCTYPE html>
<html lang="en">

{{>../static/head}}

<style>
  body {
      background-image: url('public/assets/img/river-8540767_1920.jpg'); /* Reemplaza 'ruta/de/tu/imagen.jpg' con la ruta de tu imagen */
      background-size: cover; /* Para cubrir todo el fondo */
      background-position: center; /* Para centrar la imagen */
  }
</style>

<body>

<!-- ======= Header ======= -->
{{>../static/profile_header}}

<main id="main">
  <section class="inner-page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header bg-danger"><h3 class="text-center font-weight-light my-4" style="color: white;">Transfer</h3></div>
            <div class="card-body">
              <form>
                <div class="form-floating mb-3">
                  <input class="form-control" id="inputUser" type="text" placeholder="" />
                  <label for="inputEmail">Payee</label>
                </div>

                <div class="form-floating mb-3">
                  <input class="form-control" id="inputUser" type="text" placeholder="" />
                  <label for="inputEmail">Amount (€)</label>
                </div>

                <div class="form-floating mb-3">
                  <input class="form-control" id="inputUser" type="text" placeholder="" />
                  <label for="inputEmail">Message (optional)</label>
                </div>

                <!--
                <div class="form-check mb-3">
                    <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                    <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                </div>
                -->
                <div class="d-flex flex-column align-items-center justify-content-between mt-4 mb-0">
                  <a class="btn btn-danger" href="profile_page.html">Continue</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
<br><br>
<!-- ======= Footer ======= -->
{{>../static/short_footer}}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="public/public/ssets/vendor/aos/aos.js"></script>
<script src="public/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="public/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="public/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="public/public/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="public/js/main.js"></script>

</body>

</html>