<!DOCTYPE html>
<html lang="en">

{{>../static/head}}

<body>

<!-- ======= Header ======= -->
{{>../static/profile_header}}

<main id="main">
  <section class="inner-page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header bg-danger"><h3 class="text-center font-weight-light my-4" style="color: white;">Transfer</h3></div>
            <div class="card-body">

              <form action="/transfer_processing" method="post">
                <div class="form-floating mb-3">
                  <input class="form-control" name="receiver_iban" id="receiver_iban" type="text" placeholder="" />
                  <label for="receiver_iban">Payee's IBAN</label>
                </div>

                <div class="form-floating mb-3">
                  <input class="form-control" name="amount" id="amount" type="text" placeholder="" />
                  <label for="amount">Amount (€)</label>
                </div>
                <div class="d-flex flex-column align-items-center justify-content-between mt-4 mb-0">
                  <input class="btn btn-danger" type="submit" value="Continue"/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
<br><br>
<!-- ======= Footer ======= -->
{{>../static/short_footer}}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="public/public/ssets/vendor/aos/aos.js"></script>
<script src="public/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="public/public/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="public/public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="public/public/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="public/public/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="public/js/main.js"></script>

</body>

</html>